.wrapperL {
    width: 100%;
    height: 3.94rem;
    overflow: hidden;

    display: flex;
    align-items: center;

    background-color: var(--searchGray);
    box-shadow: inset 4px 4px 20px -9px rgba(30, 50, 90, 0.04);

    border: 0;
    border-radius: .94rem;
}

.fillBar {
    width: inherit;
    height: inherit;

    background-color: var(--searchGray);
    box-shadow: inset 4px 4px 20px -9px rgba(30, 50, 90, 0.04);

    border: 0;
}

.fillBar:focus {
    outline: none;
}

.icon {
    width: 1.875rem;
    height: 1.875rem;

    margin: 0 1.125rem 0 1.125rem;
}