.wrapperL {
    width: 100%;
    height: 3.188em;
    margin-top: 0.938em;
    overflow: hidden;

    display: flex;
    align-items: center;

    background-color: var(--searchGray);
    box-shadow: inset .375em .375em 1.875em -.844em rgba(30, 50, 90, 0.04);

    border: 0;
    border-radius: .938em;
}

.fillBar {
    width: inherit;
    height: inherit;
    
    /* Text Styling */
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    font-size: 1.125em;
    line-height: 1.5em;
    color: var(--textNormalCol);

    background-color: transparent;

    border: 0;
}

.fillBar:focus {
    outline: none;
}

.fillBar::placeholder {
    color: var(--midLightGray);
}

.icon {
    width: 1.5em;
    height: 1.5em;

    margin: 0 1.125em 0 1.59em;
}

/* RESULTS DROPDOWN */
.in {
    width: 100%;
    height: fit-content;
    /* fade in */
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.out {
    width: 100%;
    height: fit-content;
    /* fade out */
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
    }
    @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
.dropdown {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.4rem .938rem .469rem;

    background: rgba(255, 255, 255, 0.66);
    box-shadow: 0 .375rem 1.875rem rgba(30, 50, 90, 0.08);
    backdrop-filter: blur(59px);
    -webkit-backdrop-filter: blur(59px);

    border-radius: 2rem;
}

.row {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;

    margin: .563rem 0;
}

.section {
    width: 100%;
    height: fit-content;
}

.resPic {
    width: fit-content;
    height: fit-content;
    margin-right: .563rem;
}

/* note  RESULT CARDS */
.personCard {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .469rem .938rem;

    font-size: 1rem;
    justify-content: flex-start;

    background-color: transparent;
    border-radius: 1rem;
    transition: .2s ease-out;
}

.personCard:hover {
    background-color: #abb8cf17;
}

.nameTagGroup {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: .188rem 0;
}

.tag {
    display: flex;
    align-items: center;

    color: var(--midLightGray);
    font-weight: normal;
    font-size: .9em;
    line-height: 1.2em;

    margin: 0;
}

.header {
    height: fit-content;
    width: fit-content;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .0937rem .75rem;
    margin: 0 0 0 .938rem;

    background: linear-gradient(98.41deg, #FFD74A 0%, #FFB129 100%);
    box-shadow: 0 .375rem 1.406rem rgba(255, 177, 41, 0.3);
    border-radius: .563rem;

    /* text */
    font-weight: 500;
    font-size: .938em;
    line-height: 1.406rem;
    color: #FFFFFF;
}

.headerR {
    height: fit-content;
    width: fit-content;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .0937rem .75rem;
    margin: 0 0 0 .938rem;

    background: linear-gradient(98.41deg, #FF6FA3 0%, #FF3358 100%);
    box-shadow: 0 .375rem 1.406rem rgba(255, 51, 88, 0.25);;
    border-radius: .563rem;

    /* text */
    font-weight: 500;
    font-size: .938em;
    line-height: 1.406rem;
    color: #FFFFFF;
}

.headerG {
    height: fit-content;
    width: fit-content;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .0937rem .75rem;
    margin: 0 0 0 .938rem;

    background: linear-gradient(98.41deg, #2ED9A6 0%, #00C9C9 100%);
    box-shadow: 0 .375rem 1.406rem rgba(0, 201, 201, 0.25);
    border-radius: .563rem;

    /* text */
    font-weight: 500;
    font-size: .938em;
    line-height: 1.406rem;
    color: #FFFFFF;
}

.headerB {
    height: fit-content;
    width: fit-content;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .0937rem .75rem;
    margin: 0 0 0 .938rem;

    background: linear-gradient(98.41deg, #00D1FF 0%, #3C9EF9 100%);
    box-shadow: 0 .375rem 1.406rem rgba(60, 158, 249, 0.25);
    border-radius: .563rem;

    /* text */
    font-weight: 500;
    font-size: .938em;
    line-height: 1.406rem;
    color: #FFFFFF;
}