.wrapperL {
    width: 100%;
    height: 3.94rem;
    margin-top: 1.069rem;
    overflow: hidden;

    display: flex;
    align-items: center;

    background-color: var(--searchGray);
    box-shadow: inset .375rem .375rem 1.875rem -.844rem rgba(30, 50, 90, 0.04);

    border: 0;
    border-radius: .94rem;
}

.fillBar {
    width: inherit;
    height: inherit;
    
    /* Text Styling */
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    font-size: 1.406rem;
    line-height: 2.063rem;
    color: var(--textNormalCol);

    background-color: transparent;

    border: 0;
}

.fillBar:focus {
    outline: none;
}

.fillBar::placeholder {
    color: var(--midLightGray);
}

.icon {
    width: 1.875rem;
    height: 1.875rem;

    margin: 0 1.125rem 0 1.125rem;
}

/* RESULTS DROPDOWN */
.in {
    width: 100%;
    height: fit-content;
    /* fade in */
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.out {
    width: 100%;
    height: fit-content;
    /* fade out */
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
    }
    @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
.dropdown {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.4rem .938rem .469rem;

    background: linear-gradient(0deg, rgba(255, 255, 255, 0.66), rgba(255, 255, 255, 0.66));
    box-shadow: 0 .375rem 1.875rem rgba(30, 50, 90, 0.08);
    backdrop-filter: blur(59px);
    -webkit-backdrop-filter: blur(59px);

    border-radius: 2rem;
}

.row {
    width: 100%;
    height: fit-content;
}

.resPic {
    width: fit-content;
    height: fit-content;
    margin-right: .563rem;
}

/* note  RESULT CARDS */
.personCard {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .469rem .938rem;

    font-size: 1rem;
    justify-content: flex-start;

    background-color: transparent;
    border-radius: 1rem;
    transition: .2s ease-out;
}

.personCard:hover {
    background-color: #abb8cf17;
}

.nameTagGroup {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: .188rem 0;
}

.tag {
    display: flex;
    align-items: center;

    color: var(--midLightGray);
    font-weight: normal;
    font-size: .938rem;
    line-height: 1.406rem;

    margin: 0;
}

.header {
    height: fit-content;
    width: fit-content;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .0937rem .75rem;
    margin: 0 0 0 .938rem;

    background: linear-gradient(98.41deg, #FFD74A 0%, #FFB129 100%);
    box-shadow: 0 .375rem 1.406rem rgba(255, 177, 41, 0.3);
    border-radius: .563rem;

    /* text */
    font-weight: 500;
    font-size: .938rem;
    line-height: 1.406rem;
    color: #FFFFFF;
}