/* note  Follow / Friend list */
.listContainer {
    display: flex;
    height: 18rem;
    width: inherit;
    flex-direction: column;
    align-items: center;
    padding: 3.187rem 1.6rem 0 2rem;
}

.toggleContainer {
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* right padding counters != padding on list itself */
    margin-right: 1.5rem; 
    
    order: 0;
    align-self: stretch;

    /* background-color: rgba(255, 0, 0, 0.233); */
}

.on {
    height: fit-content;
    width: fit-content;
    margin: 0;

    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 1.406rem;
    line-height: 2.063rem;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #2E3A59;
    cursor: pointer;
}

.off {
    height: fit-content;
    width: fit-content;
    margin: 0;

    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 1.406rem;
    line-height: 2.063rem;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: var(--midLightGray);
    cursor: pointer;
}

.divider {
    height: fit-content;
    width: fit-content;
    margin: 0 1.125rem;

    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 1.406rem;
    line-height: 2.063rem;
    /* identical to box height */

    display: flex;
    align-items: center;
    
    color: #D7E0EF;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 0px 0px;

    width: 100%;
    height: 10.6rem;
}