/* note  Follow / Friend list */
.listContainer {
    display: flex;
    height: fit-content;
    width: inherit;
    flex-direction: column;
    align-items: center;
    padding: 3.187em 2.7em 0 2.6em;
}

.toggleContainer {
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* right padding counters != padding on list itself */
    margin-right: 0.5em; 
    
    order: 0;
    align-self: stretch;
    gap: 2.625rem;
}

.on {
    height: 1.593rem;
    width: fit-content;
    margin: 0;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 1.219em;
    line-height: 1.593rem;

    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    color: #2E3A59;
    cursor: pointer;
}

.off {
    height: 1.593rem;
    width: fit-content;
    margin: 0;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 1.219em;
    line-height: 1.593rem;

    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    color: var(--midLightGray);
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 0px 0px;

    width: 100%;
    height: fit-content;
}