.picker {
    position: relative;
}
  
.pickerWrapper {
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: 2;
    animation: fadeIn .5s ease-in forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }