.fillOverlay {
    height: 100%;
    width: 100%;

    
    background-color: rgba(18, 22, 40, 1);
}

.content {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: ;

    z-index: 1;
}

.imageOffsetWrapper {
    height: fit-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: .375rem;
}