.fillOverlay {
    height: 100%;
    width: 100%;

    background-color: rgba(18, 22, 40, 1);
}

.content {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.subtitle {
    width: fit-content;
    height: 1.594rem;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.219rem;
    line-height: 1.594rem;
    letter-spacing: -0.02em;

    color: #C4C4C4;
    margin: .938rem 0 0 0;
}

.imageOffsetWrapper {
    height: fit-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: .375rem;
}