.staticWrapper {
    height: fit-content;
    width: inherit;
    padding: 0.469em 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    border-radius: 0.563em;
    flex-grow: 0;
    flex-shrink: 0;
}

.staticWrapper:hover {
    transform: translateY(-.2em);
}

.staticWrapper:active {
    transform: translateY(.05em);
}

.disabledWrapper {
    height: fit-content;
    width: inherit;
    padding: 0.469em 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background: transparent;

    border: 0.046875em solid #BBC8DB;
    border-radius: 0.563em;
    flex-grow: 0;
    flex-shrink: 0;

    cursor: default;
}

.text {
    height: 1.125em;
    width: fit-content;

    color: white;
    font-weight: 500;
    font-size: 0.844rem;
    line-height: 1.125em;
    text-align: center;

    margin: 0;
}