.simpleButton {
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
  
.simpleButton::before {
    content: "";
    position: absolute;
    height: 150%;
    width: 150%;
    background-color: rgba(4, 18, 51, 0);
    border-radius: 50%;
    transition: .25s ease-in-out;
}
  
.simpleButton:hover::before {
    height: 100%;
    width: 100%;
    border-radius: 20%;
    background-color: rgba(0, 23, 78, 0.082);;
}

/* SPIN ON CLICK BUTTONS */
.spinable {
    transition: .6s cubic-bezier(.12,.12,.35,1.36);
}

.spin {
    transform: rotateZ(360deg);
    transition: .6s cubic-bezier(.12,.12,.35,1.36);
    /* filter: brightness(0) saturate(100%) invert(48%) sepia(91%) saturate(625%) hue-rotate(308deg) brightness(101%) contrast(101%); */
}

/* DANGEROUS BUTTONS - RED */

.simpleWarn {
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
  
.simpleWarn::before {
    content: "";
    position: absolute;
    height: 150%;
    width: 150%;
    background-color: rgba(255, 51, 92, 0);
    border-radius: 50%;
    transition: .25s ease-in-out;
}
  
.simpleWarn:hover::before {
    height: 100%;
    width: 100%;
    border-radius: 20%;
    background-color: rgba(255, 42, 84, 0.119);;
}

.warnColor {
    transition: .6s cubic-bezier(.12,.12,.35,1.36);
}

.simpleWarn:hover > .warnColor {
    transform: rotateZ(360deg);
    filter: brightness(0) saturate(100%) invert(48%) sepia(91%) saturate(625%) hue-rotate(308deg) brightness(101%) contrast(101%);
}

/* NO HOVER EFFECT BUTTONS i.e. emoji button */
.hoverlessButton {
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    padding: 0;
    margin: 0;
}