.container {
    height: 2.344em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 0.563em;
}

.icon {
    width: 1.875em;
    height: 1.875em;
    /* 3.33px */
    padding: 0.312em;
    border-radius: 50%;
    /* stop horizontal squashing of icon */
    flex-shrink: 0;
    flex-grow: 0;
}

/* header text for the widgets */
.widget {
    height: inherit;
    width: 100%;

    color: var(--textBlack);
    font-style: normal;
    font-weight: 500;
    font-size: 1.219em;
    line-height: 1.594em;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    margin: 0 0 0 0.563em;
}