.inactive {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.469em 0px;
    gap: 0.469em;

    background: transparent;
    border-width: 0.04688em;
    border-style: solid;
    border-radius: 2.156em;
}

.text {
    width: fit-content;
    height: 1.125em;

    font-family: 'DM Sans';
    color: var(--textNormalCol);
    font-style: normal;
    font-weight: 500;
    font-size: 0.8437rem;
    line-height: 1.125em;
    text-align: center;

    flex: none;
    flex-grow: 0;
    margin: 0;
}

/* WARN STYLE
.inactive {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.469em 0px;
    gap: 0.469em;

    border: 0.04688em solid #BBC8DB;
    border-radius: 2.156em;
} */