.card {
    width: 100%;
    height: 2.625em;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin: 0.563em 0;
    cursor: pointer;
}

.textgroup {
    height: fit-content;
    width: 35em;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .1em;

    padding: 0 0 0.1875em 0.656em;
}

.buttonContainer {
    height: inherit;
    width: 5.719rem;

    flex-shrink: 0;
}

.detail {
    width: fit-content;
    height: 0.9375em;

    color: #7D8CA9;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 0.9375em;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    margin: 0;
}