.card {
    width: 100%;
    height: 2.625em;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.563em 0;
}

.buttonContainer {
    height: inherit;
    width: 5.719em;
}