.scrollview {
    /* just inherit, full height scrollable */
    /* for full height places like groups & chats */
    height: inherit;
    width: inherit;
}

.scrollviewpadded {
    /* just inherit, full height scrollable */
    /* for full height places like groups & chats */
    height: inherit;
    width: inherit;
    padding-top: 14.53em;
}

.nogapwrapper {
    /* split left & right main content padding between this & main content container so that
    the scrollbar does not show over the top of content, but to the side, this does the padding
    outside of the scrollbar's scope */
    padding: 0 2.625em 0 0;

    flex: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  
    width: inherit;
    height: inherit;
}