.wrapper {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.469em 0px 1.406em;
    margin-bottom: 0.9375em;

    flex: none;
    flex-grow: 0;
}

.form {
    width: 100%;
    height: 3em;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 0.9375em;
    gap: 0.9375em;

    flex: none;
    flex-grow: 0;
}

.textbox {
    height: fit-content;
    min-height: 3em;
    width: 31.031em;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 0.75em 0.5em 1.3125em;
    background: transparent;

    border: 0.09375em solid #D7E0EF;
    border-radius:1.781em;
}

.input {
    height: 1.5em;
    width: 100%;

    color: #7D8CA9;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.844em;
    line-height: 1.125em;

    /* padding-top: 0.9375em; */

    display: flex;
    align-items: center;

    resize: none;
    outline: none;
    border: none;
    background: rgba(0, 0, 255, 0.087);
}