.largeContainer {
    --form-text-col: #808C9D;
    --form-label-col: #BBC8DB;
    --form-border-col: #979FAA;

    position: relative;
    width: inherit;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    background-color: rgba(195, 0, 255, 0.116);
}

.largeContainerOffset {
    position: absolute;
    left: 5.25em;
    bottom: 1.96875em;
    width: 38.625em;
    height: fit-content;
}

.label {
    height: 1.40625rem;
    width: 100%;

    font-family: "Heebo";
    color: var(--form-text-col);
    font-style: normal;
    font-weight: normal;
    font-size: 1.3125rem;
    line-height: 1.96875rem;

    display: flex;
    align-items: flex-end;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;

    z-index: -1;
    position: absolute;
    transform: translateY(-2rem);
    transform-origin: 0%;
    transition: transform 400ms;
}

.field:focus-within .label,
.input:not(:placeholder-shown) + .label {
    font-size: 0.9375rem;
    font-size: 0.9375rem;
    line-height: 1.40625rem;
    
    transform: translateY(-4rem);
    color: var(--form-label-col);
}

.field {
    position: relative;
    margin: 1.40625rem auto 3.75rem;
    width: 100%;

    border-bottom: solid 0.75px var(--form-border-col);
}

.field::after {
    content: "";
    position: relative;
    display: block;
    height: 2px;
    width: 100%;
    background: linear-gradient(91.48deg, #FFD74A 0%, #FFB129 100%);;
    transform: scaleX(0);
    transform-origin: 0%;
    opacity: 0;
    transition: all 200ms ease-out;
    top: 1px;
  }
  .field:focus-within {
    border-color: transparent;
  }
  .field:focus-within::after {
    transform: scaleX(1);
    opacity: 1;
  }

.input {
    z-index: 0;
    outline: none;
    border: none;
    overflow: hidden;
    width: 100%;
    margin: 0;

    background: none;

    height: 1.96875rem;
    width: 100%;

    font-family: "Heebo";
    color: var(--form-text-col);
    font-style: normal;
    font-weight: normal;
    font-size: 1.3125rem;
    line-height: 1.96875rem;

    display: flex;
    align-items: flex-end;

}