:root {
  /*backgrounds & text*/
  --textBlack: #121B2B;
  --textBlueish: #1E325A; /*username in nav bar*/
  --textNormalCol: #49566F; /*profile description*/
  --midFadeGray: #7688AB; /*profile tag*/
  --midLightGray: #99AAC3;
  --sidebarBackground: #F9F9F9; /*& main feed*/
  --searchbarGray: #EDF1F8; /* navbar */
  --searchGray: #F8FAFC; /* background of searchbar */

  /*status indicators*/
  --online: #2ED9A6;
  --idle: #FFB129;
  --midpoint: #FF9059;
  --dnd: #FF6F89;
  --offline: #BBC8DB;
}

/* ELEMENT STYLING */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Heebo";
  font-style: normal;
  font-size: .895rem;
}
button {
  position: relative;
  display: inline-block;
  border: 0px solid;
  display: flex;

  color: white;
  text-align: center;
  vertical-align: middle;

  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 1.13rem;
  line-height: 1.69rem;
  letter-spacing: 0.03em;

  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: .2s ease;
}

@media screen and (max-width : 1500px) {
  html, body {
    padding: 0;
   margin: 0;
   font-family: "Heebo";
   font-style: normal;
    font-size: 0.82rem;
  }

  button {
    position: relative;
    display: inline-block;
    border: 0px solid;
    display: flex;
  
    color: white;
    text-align: center;
    vertical-align: middle;
  
    font-family: "Heebo";
    font-style: normal;
    font-weight: 500;
    font-size: 1.13rem;
    line-height: 1.69rem;
    letter-spacing: 0.03em;
  
    align-items: center;
    justify-content: center;
  
    cursor: pointer;
    transition: .2s ease;
  }
}
/* SIMPLE CLASSES */
.fillfit {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: fit-content;
}

.fitfill {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
}

.purefitfill {
  height: fit-content;
  width: 100%;
}

.fitfillcol {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
}

.fitfillcenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  width: 100%;
}

.fillfill {
  height: 100%;
  width: 100%;
}

.fitfit {
  height: fit-content;
  width: fit-content;
}

.fillfillcentercenter {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fillfillcenterright {
  height: inherit;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.rows {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Scrollbar */
.simplebar-scrollbar::before, .simplebar-visible::before {
  background-color: var(--midLightGray) !important;
}

.simplebar-hover::before {
  background-color: var(--midFadeGray) !important;
}

.simplebar-content {
  display: flex;
  flex-direction: column;

  height: fit-content;
  width: 100%;
}

/* SIMPLE BUTTON */

.simpleButton {
  height: fit-content;
  width: fit-content;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.simpleButton::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  background-color: rgba(4, 18, 51, 0);
  border-radius: 50%;
  transition: .25s ease-in-out;
}

.simpleButton:hover::before {
  height: 100%;
  width: 100%;
  border-radius: 20%;
  background-color: rgba(0, 23, 78, 0.082);;
}

/* Text Standards */
.textFade {
  width: inherit;
  height: 3rem;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 1rem;
  color: var(--midFadeGray);
}



a {
  color: inherit;
  text-decoration: none;
}

/* hides default show password eye in edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}

* {
  box-sizing: border-box;
}
/* LOADING SCREEN */

.loading {
  position: relative;
  top: 10px;
  display: flex;
  justify-content: center;

  animation: rise .5s ease-in-out 3.2s;
  animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.loading::after {
  content: "";
  width: 30px;
  height: 30px;

  border: 3px solid #ffb12950;
  
  border-bottom-color: #FF6F89;
  border-radius: 50%;

  animation: loading 1.2s ease-in-out infinite;
}

.full_center {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 15px;
  border: 1px var(--searchbarGray) solid;
}
.horizontal {
  width: max-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}
@keyframes loading {
  25% {
    border-color: #ff7a5950;
    border-bottom-color: #ff6f8991;
  }
  50% {
    border-color: #ffb12950;
    border-top-color: #FFB129;
    
  }
  75% {
    border-top-color: #ffb12900;
    border-color: #ff905950;
    border-bottom-color: #ff6f8980;
  }
  to {
    transform: rotate(1turn);
    border-top-color: #ffb12900;
    
    border-color: #ff6f8936;
    border-bottom-color: #FF6F89;
  }
}
.delayed {
  position: relative;
  top: 10px;
  color: rgba(0, 0, 0, 0);
  
  animation: delayed .6s ease-in-out 3s;
  animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@keyframes delayed {
  from {
    top: 10px;
    color: rgba(0, 0, 0, 0);
  }
  to {
    top: 0;
    color: rgb(0, 0, 0);
  }
}

@keyframes rise {
  from {
    top: 10px;
  }
  to {
    top: 0;
  }
}

/* FONT IMPORTS */

@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo/Heebo-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo/Heebo-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo/Heebo-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo/Heebo-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo/Heebo-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo/Heebo-Black.ttf");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Pacifico";
  src: url("/fonts/Pacifico/Pacifico-Regular.ttf");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM/DMSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM/DMSans-Italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM/DMSans-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM/DMSans-MediumItalic.ttf");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM/DMSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM/DMSans-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}