:root {
  /*backgrounds & text*/
  --textBlack: #121B2B;
  --textNormalCol: #49566F; /*profile description*/
  --midFadeGray: #7688AB; /*profile tag*/
  --midLightGray: #99AAC3;
  --sidebarBackground: #F9F9F9; /*& main feed*/

  /*status indicators*/
  --online: #2ED9A6;
  --idle: #FFB129;
  --dnd: #FF6F89;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Heebo";
  font-style: normal;
  font-size: 16px;
}

@media screen and (max-width : 1600px) {
  html, body {
    padding: 0;
   margin: 0;
   font-family: "Heebo";
   font-style: normal;
    font-size: 13px;
  }
}

button {
  border: 0px solid;
  color: white;
  font-size: 1.13rem;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  line-height: 1.69rem;
  letter-spacing: 0.045em;

  cursor: pointer;
  transition: .2s ease-in-out;
}

button:hover {
  outline-width: 0.375rem;
  transition: .2s ease-in-out;
}

button:active {
  transition: .2s ease-in-out;
  transform: scaleX(.9) scaleY(.9);
}

a {
  color: inherit;
  text-decoration: none;
}

/* hides default show password eye in edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo/Heebo-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo/Heebo-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo/Heebo-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo/Heebo-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo/Heebo-Black.ttf");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}