.headerLarge {
    margin: 0;
    height: 4.78rem;
    width: fit-content;

    font-family: "Heebo";
    font-style: normal;
    font-weight: 500;
    font-size: 3.28rem;
    line-height: 4.78rem;
    display: flex;
    align-items: flex-end;

    color: #121B2B;

    background-color: rgba(0, 47, 255, 0.219);
}

.aboveHeader {
    margin-top: 0;
    margin-bottom: 0.19rem;
    height: 2.72rem;
    width: fit-content;

    font-family: "Heebo";
    font-style: normal;
    font-weight: normal;
    font-size: 1.88rem;
    line-height: 2.72rem;
    display: flex;
    align-items: flex-end;

    color: #121B2B;

    background-color: rgba(0, 47, 255, 0.219);
}