.p_container {
    /*auto layout*/
    display: flex;
    flex-direction: row;
    align-items: center;

    width: fit-content;
    height: fit-content;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.p_largeText {
    height: inherit;
    width: fit-content;

    color: var(--textBlack);
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 1.5em;
    font-style: normal;
    line-height: inherit;
    letter-spacing: -0.02em;

    display: flex;
    align-items: flex-end;

    margin: 0 0;
}

.p_sociallistText {
    height: 1.688rem;
    width: fit-content;

    font-family: 'DM Sans';
    color: var(--textNormalCol);
    font-weight: 400;
    font-size: 1.312em;
    line-height: 1.688rem;
    letter-spacing: -0.02em;

    display: flex;
    align-items: center;

    /* stops names with spaces becoming multiline */
    white-space: nowrap;
    margin: 0 0;
}

.p_searchText {
    height: inherit;
    width: fit-content;

    color: var(--textNormalCol);
    font-weight: 500;
    font-size: 1em;
    line-height: 1.3rem;

    display: flex;
    align-items: flex-end;

    margin: 0 0;
}

/* BADGES */

.checkmark {
    margin-top: .14em;
    margin-right: 0.0625em;
    width: 80%;
    height: 80%;

    background-image: url('../public/resources/Checkmark52.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.checkmarkout {
    margin-right: 0.0625em;
    width: 100%;
    height: 100%;

    background-image: url('../public/resources/verifiedout.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.v_largeBadge {
    display: flex;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;

    border-radius: 100%;
    background: linear-gradient(135deg, #FFD74A 0%, #FFB129 100%);
    box-shadow: 0 0.375em 0.4687em rgba(255, 177, 41, 0.4);

    margin-left: 0.5625em;
}

.shield {
    margin-top: .14em;
    margin-right: 0.0625em;
    width: 80%;
    height: 80%;

    background-image: url('../public/resources/staff.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shieldout {
    margin-right: 0.0625em;
    width: 100%;
    height: 100%;

    background-image: url('../public/resources/staffout.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.s_largeBadge {
    display: flex;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;

    border-radius: 100%;
    background: linear-gradient(135deg, #00D1FF 0%, #0075FF 100%);
    box-shadow: 0px 0.375em 0.4687em rgba(0, 117, 255, 0.2);

    margin-left: 0.5625em;
}

.colorlesslargeBadge {
    display: flex;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;

    border-radius: 100%;
    margin-left: 0.5625em;
}

.largeSpacer {
    width: 1.5em;
    height: 1.5em;
}