/* NAVBAR */
.nav {
  position: absolute;
  padding-left: 30.9375em;
  width: 100vw;
  height: 7.125em;
  color: #1E325A;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  background-color: #fff;
  box-shadow: 0px 0px 1.875em rgba(30, 50, 90, 0.05);

  font-family: Heebo;
  font-style: normal;
  z-index: 10;

  border-radius: 15px 15px 0 0;
}

.nav_full {
  position: absolute;
  padding-left: 30.9375em;
  width: 100vw;
  height: 7.125em;
  color: #1E325A;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  background-color: #fff;
  box-shadow: 0px 0px 1.875em rgba(30, 50, 90, 0.05);

  font-family: Heebo;
  font-style: normal;
  z-index: 10;

  border-radius: 0;
}


.navNoSpace {
  width: 100vw;
  height: 7.125em;
  color: #1E325A;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  background-color: #fff;
  box-shadow: 0px 0px 1.875em rgba(30, 50, 90, 0.05);

  font-family: Heebo;
  font-style: normal;

  z-index: 10;
  border-radius: 15px 15px 0 0;
}
.navNoSpace_full {
  width: 100vw;
  height: 7.125em;
  color: #1E325A;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  background-color: #fff;
  box-shadow: 0px 0px 1.875em rgba(30, 50, 90, 0.05);

  font-family: Heebo;
  font-style: normal;

  z-index: 10;
  border-radius: 15px 15px 0 0;
}

.nav ul, .navNoSpace ul {
  display: flex;
  justify-content: left;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;

  height: inherit;
  width: fit-content;
}

/* LEFT: LOGO AREA */

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  height: 60%;
  width: fit-content;
  margin-top: 3px;
  margin-left: 1.968rem;
}

/* RIGHT: MAIN CONTENT */

.rightWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  height: inherit;

  margin-left: 3.75rem;
  padding-right: 2.141rem;

  /* border: 2px solid rgb(0, 140, 255); */
  border-radius: 8px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  /* background-color: khaki; */
  padding: 1rem 0 1rem 0;

  width: fit-content;
  height: inherit;
}

.name {
  overflow: hidden;
  width: fit-content;
  min-width: 10.5rem;
  max-width: 12rem;
  height: 2.344rem;

  font-family: Heebo;
  font-style: normal;
  font-weight: 500;
  font-size: 1.312rem;
  line-height: 1.968rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;

  color: var(--textBlueish);
  margin: 0 1.087rem 0 0;
}

.pfpContainer {
  width: fit-content;
  height: fit-content;
}

.buttonWrapper {
  display: flex;

  width: 11rem;
  height: 3rem;
}

/* outerbounds of icon hover effect & button */
.iconsWrapper {
  display: flex;
  height: fit-content;
  width: fit-content;
  column-gap: 1.031em;
  margin: 0 0 0 3.75rem;
}

/* centers icon buttons w/o affecting hover effect */
.iconsPlacer {
  height: inherit;
  width: fit-content;
  display: flex;
  align-items: center;
}

/* MENUBAR - LUNA ONLY */

.menubar {
  position: relative;
  height: fit-content;
  width: fit-content;
  z-index: 11;
  margin: 0;
}

.menuTitle {
  font-weight: 600;
  font-family: "Pacifico";
  font-size: .75rem;
  color: #c1cee2;
  display: flex;
  justify-content: right;
  align-items: center;
  width: fit-content;
  height: 100%;

  margin: 0;
}

.dragBar {
  height: 30px;
  width: 100%;

  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  right: 0;
  z-index: 60;
}

.titlebar {
  height: 21.6px;
  width: fit-content;
  background: var(--searchbarGray);
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  right: 0;
  z-index: 60;
  border-radius: 0 15px 0 15px;
}
.titlebar::before {
  content: "";
  position: absolute;
  
  background-color: transparent;
  bottom: -35px;
  height: 35px;
  width: 17px;
  border-top-right-radius: 17px;
  box-shadow: 0 -17px 0 0 var(--searchbarGray);
}

.titlebar::after {
  content: "";
  position: absolute;
  
  background-color: transparent;
  top: -9px;
  left: -25px;
  height: 35px;
  width: 17px;
  transform: rotateZ(90deg);
  border-top-left-radius: 17px;
  box-shadow: 0 -17px 0 0 var(--searchbarGray);
}

.titlebar_button, .titlebar_buttonC, .titlebar_buttonC_full, .titlebar_buttonM {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 28.8px;
  height: 21.6px;

  transition: .1s ease;
  z-index: 1;
}

.titlebar_buttonM {
  border-radius: 0 0 0 15px;
}

.titlebar_buttonC {
  border-radius: 0 15px 0 0;
}
/* unround corners when window is maximized */
.titlebar_buttonC_full {
  border-radius: 0;
  background: var(--searchbarGray);
}

.titlebar_button:hover, .titlebar_buttonM:hover {
  background: #28303810;
}

.titlebar_buttonC:hover, .titlebar_buttonC_full:hover {
  background: #ff6889;
}