/* Sidebar pfps, for user's and groups */
.w70 {
    position: relative;
    width: 6.5625em;
    height: 6.5625em;
    border-radius: 50%;
    
    box-shadow: 0 0 0 0.78rem var(--sidebarBackground);

    flex: none;
    flex-grow: 0;
    margin-bottom: 0.9375em;
    margin-left: 1.4062em;
    margin-right: 1.4062em;
}

/* pfps in create post & on blog cards */
.w50 {
    position: relative;
    width: 4.688em;
    height: 4.688em;
    border-radius: 50%;
    flex-shrink: 0;
}

/* navbar pfp & sidebar following list pfps */
.w40 {
    position: relative;
    width: 3.75em;
    height: 3.75em;
    border-radius: 50%;
    flex-shrink: 0;
}

/* Used as pfp on posts in main feed */
.w36 {
    position: relative;
    width: 3.395em;
    height: 3.395em;
    border-radius: 50%;
    flex-shrink: 0;
}

/* Everywhere, profiles, activity bar, stories... */
.w32 {
    position: relative;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    flex-shrink: 0;
}

/* pfp next to chat bubble */
.w28 {
    position: relative;
    width: 2.625em;
    height: 2.625em;
    border-radius: 50%;
    flex-shrink: 0;
}

/* pfp in navbar (to open the account/settings blah blah menu) */
.w24 {
    position: relative;
    width: 2.25em;
    height: 2.25em;
    border-radius: 50%;
    flex-shrink: 0;
}

.p_picture {
    overflow: hidden;
    
    border-radius: 50%;
    background-color: #EEF0F4;
    flex-shrink: 0;
}

.p_pictureEdit {
    overflow: hidden;
    
    border-radius: 50%;
    background-color: #EEF0F4;
    flex-shrink: 0;

    opacity: .31;
}

.w70Clip span {
    pointer-events: none;
}

.w70Clip {
    position: relative;
    width: 6.5625em;
    height: 6.5625em;
    overflow: hidden;
    border-radius: 50%;
    
    box-shadow: 0 0 0 0.78rem var(--sidebarBackground);

    flex: none;
    flex-grow: 0;
    margin-bottom: 0.9375em;
    margin-left: 1.4062em;
    margin-right: 1.4062em;
}