.sidebar {
    position: fixed;
    width: 30.9375em;
    left: 0px;
    top: 0px;
    height: 100vh;

    background: #F9F9F9;
    box-shadow: inset -89px 0px 40px -80px rgba(30, 50, 90, 0.1);
    border-radius: 15px 0 0 15px;
    overflow: hidden;
    z-index: 12;
}

.sidebar_full {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 30.9375em;
    left: 0px;
    top: 0px;
    height: 100vh;

    background: #F9F9F9;
    box-shadow: inset -89px 0px 40px -80px rgba(30, 50, 90, 0.1);
    border-radius: 0;
    overflow: hidden;
    z-index: 12;
}

.banner {
    position: relative;
    flex-shrink: 0;
    width: 30.9375em;
    height: 21.0937em;
    border-radius: 0 0 3.1875em 3.1875em;
    overflow: hidden;
}

.bannerImage {
    width: inherit;
    height: inherit;
    background: #EEF0F4;
    /*image-rendering: -webkit-optimize-contrast; stops blur*/
}

.bannerImageEdit {
    width: inherit;
    height: inherit;
    background: #EEF0F4;
    
    opacity: .31;
    /*image-rendering: -webkit-optimize-contrast; stops blur*/
    /* Click through to upload panel */
    pointer-events: none;
}

.banner span {
    pointer-events: none;
}

.linkedProfiles {
    /* auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 3px;

    height: 2.8125em;
    background-color: var(--sidebarBackground);
}

.profileContainer {
    /* auto layout*/
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    top: -3.8437em;
    bottom: 0;
    /* height: 21.09375em; */
    height: fit-content;
    width: inherit;
}

/* Centered Vertical Layout Group w/ zero spacing*/
.p_cvlayoutzero {
    /*auto layout*/
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 16.9687em;
    height: 11.5312em;
    

    /*auto layout item*/
    flex: none;
    order: 0;
    flex-grow: 0;
}

.p_chlayout15 {
    /*auto layout*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    width: 15.9375em;
    height: 7.5em;
}

.p_stats {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 3.2812em;
    height: 2.9em;

    /*auto layout */
    flex: none;
    flex-grow: 0;
    margin: 0px 0px;
}

.p_stats_num {
    /*width: 1.88rem;*/
    width: inherit;
    height: 1.2rem;

    font-weight: bold;
    font-size: 0.94rem;
    line-height: 0.94rem;
    color: var(--textNormalCol);
    display: flexbox;
    text-align: center;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.p_stats_label {
    width: inherit;
    height: 0.94rem;

    font-weight: 500;
    font-size: 0.75rem;
    line-height: 0.94rem;
    color: var(--midLightGray);
    display: flexbox;
    text-align: center;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.p_tag {
    width: fit-content;
    height: 1.593rem;

    font-family: 'DM Sans';
    color: var(--midFadeGray);
    font-size: 1.219em;
    font-weight: normal;
    line-height: 1.593rem;
    letter-spacing: -0.02em;

    flex: none;
    flex-grow: none;
    margin: 0;
}

.p_description {
    width: inherit;
    height: fit-content;

    color: var(--textNormalCol);
    font-family: "DM Sans";
    font-weight: normal;
    font-size: 1.125em;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: -0.02em;

    /* auto layout item*/
    flex: none;
    flex-grow: 0;
    padding: 0 3rem;
    margin: 1.5em 0;
}

.buttonContainer {
    width: inherit;
    height: 2.8rem;

    font-weight: bold;

    padding: 0 3.562rem;
    display: flex;
    column-gap: 0.65625rem;
}

.buttonContainer>button {
    flex: 1;
    flex-direction: row;

    font-weight: bold;
}

@media screen and (max-width : 1600px) {
    .buttonContainer {
        /* width: 24.4687rem; */
        width: inherit;
        height: 3em;

        font-weight: 500;
        
        padding: 0 3.562rem;
        display: flex;
        column-gap: 0.65625rem;
    }

    /* fix button looking awkwardly sized + offcentered text  by */
    /* overriding the button (the children) to change these values on smaller screens */
    .buttonContainer>button {
        flex: 1;
        flex-direction: row;

        border-radius: 0.85em;
    }
}
