/*Profiles*/
.large {
    position: relative;
    overflow: hidden;
    left: 4.6875em;
    top: 4.4062em;

    z-index: 10;

    width: 1.875em;
    height: 1.875em;
    border-radius: 50%;
}

.online {
    width: inherit;
    height: inherit;
    background-color: var(--online);
    border: 0.2812em solid var(--sidebarBackground);
    border-radius: inherit;
}

.idle {
    width: inherit;
    height: inherit;
    background-color: var(--idle);
    border: 0.2812em solid var(--sidebarBackground);
    border-radius: inherit;
}

.dnd {
    width: inherit;
    height: inherit;
    background-color: var(--dnd);
    border: 0.2812em solid var(--sidebarBackground);
    border-radius: inherit;
}