/*Profiles*/
.large {
    position: relative;
    overflow: hidden;
    left: 4.9688em;
    top: 4.9688em;

    z-index: 10;

    width: 1.3125em;
    height: 1.3125em;
    border-radius: 50%;
    border: 0.2813rem solid var(--sidebarBackground);
}

.w40 {
    position: relative;
    overflow: hidden;
    left: 2.531em;
    top: 2.531em;

    z-index: 10;

    width: 1.406em;
    height: 1.406em;
    border-radius: 50%;
    border: 0.188rem solid var(--sidebarBackground);
}

.w32 {
    position: relative;
    overflow: hidden;
    left: 2.203em;
    top: 2.203em;

    z-index: 10;

    width: 0.75em;
    height: 0.75em;
    border-radius: 50%;
    border: 0.1406rem solid var(--sidebarBackground);
}

.w28 {
    position: relative;
    overflow: hidden;
    left: 1.6875em;
    top: 1.6875em;

    z-index: 10;

    width: 1.125em;
    height: 1.125em;
    border-radius: 50%;
    border: .1875rem solid var(--sidebarBackground);
}

.online {
    width: inherit;
    height: inherit;
    background-color: var(--online);;
}

.idle {
    width: inherit;
    height: inherit;
    background-color: var(--idle);
}

.dnd {
    width: inherit;
    height: inherit;
    background-color: var(--dnd);
    border-radius: inherit;
}

.offline {
    width: inherit;
    height: inherit;
    background-color: var(--offline);
}