.activityBar {
    position: absolute;
    width: 19.125em;
    height: 60.375em;
    right: 0px;
    top: 7.125em;

    background: #F6F7F9;
    box-shadow: inset 1.3125em -0.1875em 6em -5.15625em rgba(18, 27, 43, 0.5);
}