.largeContainer {
    position: relative;
    width: inherit;
    height: 100px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    background-color: rgba(195, 0, 255, 0.294);
}

.largeContainerOffset {
    position: absolute;
    left: 5.25em;
    bottom: 1.96875em;
    width: 38.625em;
    height: fit-content;
}