.sidebar {
    position: fixed;
    width: 330px;
    left: 0px;
    top: 0px;
    height: 100vh;

    background: #F9F9F9;
    box-shadow: inset -89px 0px 40px -80px rgba(30, 50, 90, 0.1);
    border-radius: 0px;
}